.banner {
  background-color: #1976d2;
  height: 40vh;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto";
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  .title {
    margin: 0;
    font-weight: 500;
    font-size: 3.5rem;
    text-align: center;
  }
 
}
